/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #232323;
    font-size: calc(11px + (12 - 11) * ((100vw - 300px) / (1600 - 300))) !important;
    line-height: calc(1.2em + (1.2 - 1.0) * ((100vw - 300px) / (1600 - 300)));
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.btn {
    font-size: calc(11px + (12 - 11) * ((100vw - 300px) / (1600 - 300))) !important;
}

label:not(.header) {
    border-bottom: 2px solid #B62323;
    width: 100%;
    text-transform: uppercase;
}

.header {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 1em;
}

table {
    border-spacing: 0;
    box-shadow: 1px 2px 1px 0.5px #ccc;
}

    table.tablesorter tbody td {
        background-color: #FFF;
        vertical-align: top;
    }

    table.tablesorter tbody tr.odd td {
        background-color: #F0F0F6;
    }

    table th {
        width: 150px;
        border-bottom: 2px solid gray;
        background-color: #333 !important;
        color: #eee;
        cursor: pointer;
        padding: 10px;
        font-size: 12px !important;
    }

    table td {
        width: 150px;
        border-bottom: 2px solid #f7f2f2;
        padding: 10px;
    }

input::-webkit-inner-spin-button,
input::-webkit-clear-button {
    display: none;
}

/*input::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 10;
    color: black;
    opacity: 1;
}*/

/*input[type=date]:before {
    content: attr(data-date);
    display: inline-block;
    color: black;
}*/

input.input-validation-error {
    border: 1px solid #ff0000
}

input.valid {
    border: 1px solid #0ceb2f
}
